/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.vuepress-blog-theme-content
  blockquote
    border-left: 3px solid #d05dd2;
